* {
  font-size: 0.8rem;
}
body {
  background-color: #fff;
  padding: 0;
  margin: 30px 100px;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 30px;
}
/* MENU PANEL */
.menu {
  height: fit-content;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px;
}
.card {
  height: 100%;
}
.card > img {
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: #059862;
  color: white;
}
.search-input-container {
  position: relative;
}
.card-header #searchInput {
  height: auto;
  padding-left: 33px;
}
.card-header .search-icon {
  position: absolute;
  top: 17px;
  left: 6px;
  transform: translateY(-50%);
  width: 23px;
  height: 23px;
  z-index: 100;
}
.card-header h5,
.order h5 {
  margin: 0;
  display: flex;
  align-items: center;
  height: 35px;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btn-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 15px;
  gap: 15px;
}
.btn-container .quantity-container,
.btn-container .order-container {
  width: 120px !important;
}
.btn-container .order-container .btn-order {
  width: 100%;
}
.btn-container .quantity-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
}
.btn-container .quantity-container #quantity {
  font-size: 1.5rem;
  text-align: center;
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
}
.btn-container .quantity-container button {
  background-color: #d2d2d2;
  color: white;
}
.btn-container .quantity-container button:hover {
  background-color: #059862;
  color: white;
}
.btn-container .quantity-container button:active {
  background-color: #059862 !important;
  color: white !important;
}
.btn-container .quantity-container .btn-decrease {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-container .quantity-container .btn-increase {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
/* ORDER PANEL */
.order {
  height: 92vh;
  display: flex;
  justify-content: space-between;
}
.receipt {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  overflow-y: auto;
  max-height: 300px;
}
.receipt .item {
  padding: 20px;
}
.receipt .item p {
  color: #198754;
  margin: 0;
  text-align: end;
}
.total-container {
  border-top: 1px solid #d2d2d2;
  padding: 20px;
}
.btn-container-right {
  display: flex;
  justify-content: end;
}
.btn-order,
.payBtn {
  background-color: #059862;
  color: white;
}
.printer-btn {
  display: flex;
  justify-content: flex-start;
  background: none;
  border: none;
  padding: 0;
}
.order-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.cart-container {
  margin-top: 0;
}
.printer-img {
  width: 30px;
}
/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  body {
    margin: 30px 25px;
  }
  main {
    grid-template-columns: 1fr 1fr;
  }
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .btn-container .quantity-container,
  .btn-container .order-container {
    width: 100% !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    margin: 30px 50px;
  }
  main {
    grid-template-columns: 1fr 1fr;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .btn-container .quantity-container,
  .btn-container .order-container {
    width: 100% !important;
  }
}
